@page "/"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject TooltipService TooltipService
@inject ContextMenuService ContextMenuService
@inject NotificationService NotificationService

<PageTitle>Index</PageTitle>
<div style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <RadzenCard class="rz-border-radius-0 align-content-center justify-content-center">
        <RadzenText> //TODO welcome ... intro ... what ever ... </RadzenText>
    </RadzenCard>
</div>